<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <!-- Load static files handler -->
    {% load static %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'blog_content' %}">Blogs</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'add_blog_post' %}">Add blog post</a></li>

            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>

            {% endif %}
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
    <div class="content">
        {% block content %}



        {% endblock %}
    </div>
</body>
</html>

