{% extends 'blog/base.html' %}

{% block content %}
<div class="hero1">
  <h1>Your <span class="pure">Pure</span> Diary </h1>
</div>

<div class="blog-container">
  {% if empty_message %}
  <p class="empty-message">{{ empty_message }}</p>
  {% else %}
  <ul class="post-list">
    {% for post in posts %}
    <h1 class="blog-name">{{ post.blog_name }}</h1>
    <li class="post-item">
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-author">Author: <span class="post-author1">{{ post.author }}</span></p>
      <div class="post-content-truncate" style="overflow: hidden; max-height: 4.55em;">
        <p>{{ post.content|safe }}</p>
      </div>
      <p class="expand-content">Click to expand</p>
      <button class="edit-button" data-post-id="{{ post.id }}">Edit</button>

      </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const expandLinks = document.querySelectorAll('.expand-content');
    expandLinks.forEach(link => {
      link.addEventListener('click', function() {
        const contentTruncate = this.previousElementSibling;
        contentTruncate.style.maxHeight = (contentTruncate.style.maxHeight === '4.55em') ? 'none' : '4.55em';
        this.textContent = (contentTruncate.style.maxHeight === '4.55em') ? 'Click to expand' : 'Click to collapse';
      });
    });
  });


  document.addEventListener("DOMContentLoaded", function() {
    var editButtons = document.querySelectorAll('.edit-button');
    editButtons.forEach(function(button) {
      button.addEventListener('click', function() {
        var postId = button.dataset.postId;
        if (postId) {
          var editUrl = '/edit/' + postId + '/';
          window.location.href = editUrl;
        }
      });
    });
  });

</script>
{% endblock %}

