{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <section class="hero">
    <div id="main">
    </div>
    <div class="hero-content">
      <h1 class="hero-title">Welcome to <span class="pure">Pure</span> <span class="form">form</span></h1>
      <p class="hero-subtitle">A Pure Journaling Experience with No Distractions</p>
      <a href="{% url 'add_blog_post' %}"Blogs class="button1">Get writing</a>
      <div id="app"></div>


    </div>
  </section>
</div>

{% endblock %}

<script src="{% static "frontend/main.js" %}"></script>
